* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/DBTest.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/ORCiDTagLibBodyTagSupport.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/ORCiDTagLibTagSupport.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/README.txt -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/Sequence.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/Affiliation.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationCity.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationCountry.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationDepartment.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationDisambiguationId.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationDisambiguationSource.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationEndDate.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationEndDateToNow.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationOrganization.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationRegion.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationSeqnum.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationStartDate.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationStartDateToNow.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationTitle.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/affiliation/AffiliationType.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/bio/Bio.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/bio/BioBiography.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/bio/BioCountry.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/bio/BioCreditName.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/bio/BioDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/bio/BioFamilyName.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/bio/BioGivenNames.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/bio/BioID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/bio/BioIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/contributor/Contributor.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/contributor/ContributorContnum.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/contributor/ContributorDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/contributor/ContributorID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/contributor/ContributorIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/contributor/ContributorName.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/contributor/ContributorSeqnum.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/email/Email.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/email/EmailCurrent.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/email/EmailDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/email/EmailEmail.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/email/EmailID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/email/EmailIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/email/EmailPrime.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/email/EmailSeqnum.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/email/EmailVerified.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/externalId/ExternalId.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/externalId/ExternalIdDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/externalId/ExternalIdID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/externalId/ExternalIdIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/externalId/ExternalIdName.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/externalId/ExternalIdOrcidHost.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/externalId/ExternalIdOrcidPath.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/externalId/ExternalIdOrcidUri.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/externalId/ExternalIdReference.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/externalId/ExternalIdSeqnum.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/externalId/ExternalIdUrl.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/Funding.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingAmount.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingCity.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingCountry.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingCurrency.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingDisambiguationId.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingDisambiguationSource.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingEndDate.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingEndDateToNow.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingOrgType.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingOrganization.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingRegion.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingSeqnum.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingShortDescription.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingStartDate.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingStartDateToNow.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingTitle.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingTranslatedTitle.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingType.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/funding/FundingUrl.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingContributor/FundingContributor.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingContributor/FundingContributorCreditName.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingContributor/FundingContributorDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingContributor/FundingContributorEmail.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingContributor/FundingContributorID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingContributor/FundingContributorIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingContributor/FundingContributorOrcidId.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingContributor/FundingContributorRole.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingContributor/FundingContributorSeqnum.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingContributor/FundingContributorSeqnum2.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingExternalId/FundingExternalId.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingExternalId/FundingExternalIdDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingExternalId/FundingExternalIdID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingExternalId/FundingExternalIdIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingExternalId/FundingExternalIdSeqnum.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingExternalId/FundingExternalIdSeqnum2.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingExternalId/FundingExternalIdType.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingExternalId/FundingExternalIdUrl.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/fundingExternalId/FundingExternalIdValue.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/keyword/Keyword.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/keyword/KeywordDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/keyword/KeywordID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/keyword/KeywordIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/keyword/KeywordKeyword.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/keyword/KeywordSeqnum.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/otherName/OtherName.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/otherName/OtherNameDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/otherName/OtherNameID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/otherName/OtherNameIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/otherName/OtherNameName.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/otherName/OtherNameSeqnum.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/profile/Profile.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/profile/ProfileClaimed.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/profile/ProfileCompletion.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/profile/ProfileDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/profile/ProfileHost.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/profile/ProfileID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/profile/ProfileIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/profile/ProfileLocale.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/profile/ProfileMethod.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/profile/ProfileModified.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/profile/ProfilePath.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/profile/ProfileSubmission.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/profile/ProfileUri.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/url/Url.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/url/UrlDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/url/UrlID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/url/UrlIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/url/UrlName.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/url/UrlSeqnum.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/url/UrlUrl.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/util/LocalProperties.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/util/NameSpaceEradicator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/util/PropertyLoader.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/util/XPathLoader.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/Work.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkCitation.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkCitationType.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkCountry.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkDescription.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkJournal.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkLanguage.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkPublicationDay.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkPublicationMonth.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkPublicationYear.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkPutCode.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkSeqnum.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkSubtitle.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkTitle.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkTranslation.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkTranslationLanguage.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkType.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/work/WorkUrl.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/workExternalId/WorkExternalId.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/workExternalId/WorkExternalIdDeleter.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/workExternalId/WorkExternalIdExternalId.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/workExternalId/WorkExternalIdExternalType.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/workExternalId/WorkExternalIdID.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/workExternalId/WorkExternalIdIterator.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/workExternalId/WorkExternalIdSeqnum.java -text
src/main/java/edu/uiowa/slis/ORCiDTagLib/workExternalId/WorkExternalIdWorknum.java -text
src/main/resources/META-INF/taglib.tld -text
src/non-packaged-resources/Model.clay -text
src/non-packaged-resources/orcid-message-1.0.22.xsd -text
src/non-packaged-resources/orcid-message-1.1.xsd -text
src/non-packaged-resources/orcid-message-1.2.xsd -text
src/test/java/edu/uiowa/slis/ORCiDTagLib/README.txt -text
src/test/resources/README.txt -text
